{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>calculator</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <style media="screen">
      body {
        background-color: lightgrey; font-family:sans-serif;
        }
      a {
        text-decoration: underline;
      }
    </style>
  </head>

  <body>

    <div class="container">
      {% if request.user.is_authenticated %}
      <p><h3 style="text-align:; color:green; float:right;">{{ request.user }}</h3></p>
      {% endif %}


<h1 style="color: green; text-align: center">Calculator</h1>

<br><br><br>


        {% if not request.user.is_authenticated %}

        <h1>|<a href="{% url 'user_create_view' %}"> Create User </a>|
          <a href="{% url 'login' %}"> Login </a>|</h1>
          {% else %}
            <a style="tex-align: left;" href="{% url 'operation_create_view' %}"> Home </a>
          |<a href="{% url 'logout' %}?next={% url 'login' %}"> Logout </a>|
          <a href="{% url 'profile_view' %}"> Settings </a>|
          <a href="{% url 'operation' %}">Archives</a>


          {% endif %}


    {% block content %}
    {% endblock %}

    </div>

  </body>
</html>
