{% extends 'base.html' %}
{% block content %}

{% if request.user.is_authenticated %}
      <form class="" action="" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-4">
          <textarea name="num_1" rows="2" class="form-control"></textarea>
        </div>
        <div class="col-md-2">
          <select name="operator">
            <option value="+">plus</option>
            <option value="-">minus</option>
            <option value="*">times</option>
            <option value="/">divided by</option>
          </select>
        </div>
        <div class="col-md-4">
          <textarea name="num_2" rows="2" class="form-control"></textarea>
        </div>
        <div class="col-md-2">
          <button class="btn btn-default" type="submit">Compute</button>
        </div>
      </div>
      </form>
    </div>
    {% endif %}

{% endblock %}
