{% extends 'base.html' %}
{% block content %}
rrr
{{ profile.user }}

{% for profile in object_list %}
  <div class="panel panel-default">
    <div class="panel-heading">
  <h3 class="panel-title">{{ profile.user }}{{ profile.access_level }}</h3>
</div>
  <div class="panel-body">
    <a href="#"> {{ calc.operator }}</a>
    <p style="color: orange">
      By: {{ calc.num2 }}
    </p>
  </div>
    </div>



  <form class="" action="" method="post">
  {% csrf_token %}
     {{ form.as_p }}
     <input type="submit"  value="nutten">
  </form>



    {% endfor %}

{% endblock %}
